nextflow.enable.dsl = 2

params {
    testMode = false
    inputDir = 'raw'
    outputDir = 'results'
    library = 'library.txt'
	barcodes = 'barcodes.txt'
	barcode_demux_mismatches = 0
    barcode_demux_location =    'reverse'
	barcode_length = 4
    demux_unknown = false
	spacer_seq_R1 = 'ATATCCCTTGGAGAAAAGCCTTGTTT'
	spacer_seq_R2 = 'CTTGCTATGCACTCTTGTGCTTAGCTCTGAAAC'
	guide_length = 21
	padding_bases_first_guide = 'GTT'
	padding_bases_matching_guide = 'ACC'
}

profiles {

    standard {
        includeConfig 'conf/resources.config'
    }

    apptainer {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/apptainer.config'
    }

    cbe {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/apptainer.config'
        includeConfig 'conf/cbe.config'
    }
}
