/*
crispr-process-nf nextflow config
*/

params {
    testMode = false
    inputDir = 'raw'
    outputDir = 'results'
    reverse_complement = false
    library = 'library.txt'
	barcodes = 'barcodes.txt'
	barcode_random_length = 4
	barcode_demux_mismatches = 0
    barcode_demux_location =    'forward'
	barcode_length = 4
	spacer_length_R1 = 26
	spacer_length_R2 = 33
	guide_length = 21
	padding_bases_first_guide = 'GTT'
	padding_bases_matching_guide = 'ACC'
    forward_read_length = 65
    library_composition_details = false
    post_guide_sequence_nonEmpty =  'GTTTAAGAGCTATGCTGGAAACAGCATAGCAAGTTTAAATA'
    post_guide_sequence_Empty =     'GTTTGAGTCTTCGGTTTAAACGCGGCCGCGGATCCGAAGAC'
    post_guide_sequence_Empty_Empty =     'GACGATCTCAAGTCAAGC'
}


profiles {

    standard {
        includeConfig 'conf/resources_low.config'
    }

    singularity {
        includeConfig 'conf/resources_low.config'
        includeConfig 'conf/singularity.config'
    }

    low_ressources_cbe {
        includeConfig 'conf/resources_low.config'
        includeConfig 'conf/singularity.config'
        includeConfig 'conf/cbe.config'
    }
    medium_ressources_cbe {
        includeConfig 'conf/resources_medium.config'
        includeConfig 'conf/singularity.config'
        includeConfig 'conf/cbe.config'
    }
    high_ressources_cbe {
        includeConfig 'conf/resources_high.config'
        includeConfig 'conf/singularity.config'
        includeConfig 'conf/cbe.config'
    }
	
}
