/*
Resource management
*/

process {

    // basic resources
    cpus = { 2 * task.attempt }
    time = { 3.h * task.attempt }
    memory = { 4.GB * task.attempt }

    // process-specific resources
    withName: bam_to_fastq {
        cpus = { 16 }
        time = { 5.h * task.attempt }
    }
    withName: process_barcodes {
        time = { 1.h * task.attempt }
    }
    withName: trim_random_barcode {
        cpus = { 16 }
        time = { 5.h * task.attempt }
        memory = { 30.GB * task.attempt }
    }
    withName: demultiplex {
        cpus = { 16 }
        time = { 5.h * task.attempt }
        memory = {30.GB * task.attempt }
    }
    withName: trim_barcode_and_spacer {
        cpus = { 16 }
        memory = { 15.GB * task.attempt }
    }
    withName: align {
        cpus = { 16 }
    }
    withName: fastqc {
        cpus = { 16 }
        memory = { 10.GB * task.attempt }
        time = { 5.h * task.attempt } 
    }
    withName: count {
        cpus = { 16 * task.attempt }
        time = { 3.h * task.attempt } 
    }
}

timeline {
    enabled = true
}
