/*
Resource management
*/

process {
    errorStrategy='retry'
    maxRetries=2

    // basic resources
    cpus = { 2  }
    time = { 1.h  }
    memory = { 4.GB  }

    // process-specific resources
    withName: BAM_TO_FASTQ {
        cpus = { 16 }
        time = { 5.h  }
        memory = { 15.GB  }
    }
    withName: TRIM_RANDOM_BARCODE {
        cpus = { 16 }
        time = { 5.h  }
        memory = { 15.GB  }
    }
    withName: DEMULTIPLEX {
        cpus = { 16 }
        time = { 5.h  }
        memory = { 15.GB  }
    }
    withName: DEMULTIPLEX_UNKNOWN {
        cpus = { 16 }
        time = { 8.h  }
        memory = { 15.GB  }
    }
    withName: TRIM_BARCODE_AND_SPACER {
        cpus = { 16 }
        memory = { 15.GB  }
        time = { 2.h  }
    }
    withName: ALIGN {
        cpus = { 16 }
        time = { 3.h  }
        memory = { 10.GB  }
    }
    withName: COUNT {
        cpus = { 16  }
    }
    withName: FASTQC {
        cpus = { 3  }
        memory = { 10.GB  }
        time = { 5.h  } 
    }
}

timeline {
    enabled = true
}
